<a href="https://colab.research.google.com/github/brownsloth/3by3/blob/main/chapter_01_introducing_pandas/chapter_01_introducing_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.1 Data in the 21st Century

## 1.2 Introducing pandas

### 1.2.1 Pandas vs. Graphical Spreadsheet Applications

### 1.2.2 Pandas vs. Its Competitors

## 1.3 A Tour of Pandas

### 1.3.1 Importing a Data Set

In [2]:
import pandas as pd

In [4]:
pd.read_csv("https://raw.githubusercontent.com/brownsloth/3by3/refs/heads/main/chapter_01_introducing_pandas/movies.csv")

     Rank                         Title           Studio       Gross  Year
0       1             Avengers: Endgame      Buena Vista  $2,796.30   2019
1       2                        Avatar              Fox  $2,789.70   2009
2       3                       Titanic        Paramount  $2,187.50   1997
3       4  Star Wars: The Force Awakens      Buena Vista  $2,068.20   2015
4       5        Avengers: Infinity War      Buena Vista  $2,048.40   2018
..    ...                           ...              ...         ...   ...
777   778                     Yogi Bear  Warner Brothers    $201.60   2010
778   779           Garfield: The Movie              Fox    $200.80   2004
779   780                   Cats & Dogs  Warner Brothers    $200.70   2001
780   781      The Hunt for Red October        Paramount    $200.50   1990
781   782                      Valkyrie              MGM    $200.30   2008

[782 rows x 5 columns]

In [5]:
## We can load with Title as index_col as its going to be separate anyway
pd.read_csv("movies.csv", index_col = "Title")

                              Rank           Studio       Gross  Year
Title
Avengers: Endgame                1      Buena Vista  $2,796.30   2019
Avatar                           2              Fox  $2,789.70   2009
Titanic                          3        Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4      Buena Vista  $2,068.20   2015
Avengers: Infinity War           5      Buena Vista  $2,048.40   2018
...                            ...              ...         ...   ...
Yogi Bear                      778  Warner Brothers    $201.60   2010
Garfield: The Movie            779              Fox    $200.80   2004
Cats & Dogs                    780  Warner Brothers    $200.70   2001
The Hunt for Red October       781        Paramount    $200.50   1990
Valkyrie                       782              MGM    $200.30   2008

[782 rows x 4 columns]

In [6]:
movies = pd.read_csv("movies.csv", index_col = "Title")

### 1.3.2 Manipulating a DataFrame

In [7]:
movies.head(4)

                              Rank       Studio       Gross  Year
Title
Avengers: Endgame                1  Buena Vista  $2,796.30   2019
Avatar                           2          Fox  $2,789.70   2009
Titanic                          3    Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4  Buena Vista  $2,068.20   2015

In [8]:
movies.tail(6)

                          Rank           Studio     Gross  Year
Title
21 Jump Street             777             Sony  $201.60   2012
Yogi Bear                  778  Warner Brothers  $201.60   2010
Garfield: The Movie        779              Fox  $200.80   2004
Cats & Dogs                780  Warner Brothers  $200.70   2001
The Hunt for Red October   781        Paramount  $200.50   1990
Valkyrie                   782              MGM  $200.30   2008

In [9]:
len(movies)

782

In [10]:
movies.shape

(782, 4)

In [11]:
movies.size

3128

In [13]:
movies.dtypes.to_dict()

{'Rank': dtype('int64'),
 'Studio': dtype('O'),
 'Gross': dtype('O'),
 'Year': dtype('int64')}

In [18]:
## Get the first row by integer index
print(movies.iloc[0])
print(movies.iloc[0, :])
## Get the first row second col
print(movies.iloc[0, 1])

Rank                1
Studio    Buena Vista
Gross      $2,796.30
Year             2019
Name: Avengers: Endgame, dtype: object
Rank                1
Studio    Buena Vista
Gross      $2,796.30
Year             2019
Name: Avengers: Endgame, dtype: object
Buena Vista

In [24]:
## Get row by label index
print(movies.index[0])
movies.loc["Avengers: Endgame"]

Avengers: Endgame

Rank                1
Studio    Buena Vista
Gross      $2,796.30
Year             2019
Name: Avengers: Endgame, dtype: object

In [26]:
## Could have multiple rows with the same index label
movies.loc["101 Dalmatians"]

                Rank       Studio     Gross  Year
Title
101 Dalmatians   425  Buena Vista  $320.70   1996
101 Dalmatians   708  Buena Vista  $215.90   1961

In [ ]:
movies.sort_values(by = "Year", ascending = False).head()

,Rank,Studio,Gross,Year
Title,,,,
Avengers: Endgame,1,Buena Vista,"$2,796.30",2019
John Wick: Chapter 3 - Parabellum,458,Lionsgate,$304.70,2019
The Wandering Earth,114,China Film Corporation,$699.80,2019
Toy Story 4,198,Buena Vista,$519.80,2019
How to Train Your Dragon: The Hidden World,199,Universal,$519.80,2019

In [28]:
movies.sort_values(by = ["Studio", "Year"], ascending=[True, False]).head(10)

                         Rank       Studio       Gross  Year
Title
The Blair Witch Project   588      Artisan    $248.60   1999
Avengers: Endgame           1  Buena Vista  $2,796.30   2019
Captain Marvel             22  Buena Vista  $1,128.30   2019
Aladdin                    59  Buena Vista    $880.20   2019
Toy Story 4               198  Buena Vista    $519.80   2019
Dumbo                     369  Buena Vista    $351.80   2019
Avengers: Infinity War      5  Buena Vista  $2,048.40   2018
Black Panther              10  Buena Vista  $1,346.90   2018
Incredibles 2              16  Buena Vista  $1,242.80   2018
Ant-Man and the Wasp      142  Buena Vista    $622.70   2018

In [31]:
## Integer indexing preserves sort order
movies.sort_index().iloc[0:10]

                        Rank           Studio     Gross  Year
Title
10,000 B.C.              536  Warner Brothers  $269.80   2008
101 Dalmatians           708      Buena Vista  $215.90   1961
101 Dalmatians           425      Buena Vista  $320.70   1996
2 Fast 2 Furious         632        Universal  $236.40   2003
2012                      93             Sony  $769.70   2009
21 Jump Street           777             Sony  $201.60   2012
22 Jump Street           407             Sony  $331.30   2014
300                      242  Warner Brothers  $456.10   2007
300: Rise of An Empire   394  Warner Brothers  $337.60   2014
8 Mile                   612        Universal  $242.90   2002

### 1.3.3 Counting Values in a Series

In [32]:
movies["Studio"]

Title
Avengers: Endgame                   Buena Vista
Avatar                                      Fox
Titanic                               Paramount
Star Wars: The Force Awakens        Buena Vista
Avengers: Infinity War              Buena Vista
                                     ...
Yogi Bear                       Warner Brothers
Garfield: The Movie                         Fox
Cats & Dogs                     Warner Brothers
The Hunt for Red October              Paramount
Valkyrie                                    MGM
Name: Studio, Length: 782, dtype: object

In [33]:
movies["Studio"].value_counts().head(10)

Studio
Warner Brothers    132
Buena Vista        125
Fox                117
Universal          109
Sony                86
Paramount           76
Dreamworks          27
Lionsgate           21
New Line            16
MGM                 11
Name: count, dtype: int64

In [38]:
movies[["Studio", "Year"]].value_counts()

Studio           Year
Warner Brothers  2018    13
Fox              2014    11
                 2016     9
                 2015     9
Warner Brothers  2017     9
                         ..
Dreamworks       2001     1
                 2005     1
Warner Brothers  1993     1
                 1997     1
Weinstein        2014     1
Name: count, Length: 290, dtype: int64

In [45]:
movies[["Studio", "Year"]].value_counts().sort_index(ascending=False).head(10)

Studio           Year
Weinstein        2014     1
                 2012     3
                 2010     1
                 2009     1
Warner Brothers  2019     3
                 2018    13
                 2017     9
                 2016     8
                 2015     2
                 2014     7
Name: count, dtype: int64

### 1.3.4	Filtering a Column by One or More Criteria

In [46]:
movies[movies["Studio"] == "Universal"]

                                Rank     Studio       Gross  Year
Title
Jurassic World                     6  Universal  $1,671.70   2015
Furious 7                          8  Universal  $1,516.00   2015
Jurassic World: Fallen Kingdom    13  Universal  $1,309.50   2018
The Fate of the Furious           17  Universal  $1,236.00   2017
Minions                           19  Universal  $1,159.40   2015
...                              ...        ...         ...   ...
The Break-Up                     763  Universal    $205.00   2006
Everest                          766  Universal    $203.40   2015
Patch Adams                      772  Universal    $202.30   1998
Kindergarten Cop                 775  Universal    $202.00   1990
Straight Outta Compton           776  Universal    $201.60   2015

[109 rows x 4 columns]

In [48]:
released_by_universal = (movies["Studio"] == "Universal")
print(released_by_universal)

Title
Avengers: Endgame               False
Avatar                          False
Titanic                         False
Star Wars: The Force Awakens    False
Avengers: Infinity War          False
                                ...
Yogi Bear                       False
Garfield: The Movie             False
Cats & Dogs                     False
The Hunt for Red October        False
Valkyrie                        False
Name: Studio, Length: 782, dtype: bool

In [49]:
## boolean indexing with bool series
movies[released_by_universal].head()

                                Rank     Studio       Gross  Year
Title
Jurassic World                     6  Universal  $1,671.70   2015
Furious 7                          8  Universal  $1,516.00   2015
Jurassic World: Fallen Kingdom    13  Universal  $1,309.50   2018
The Fate of the Furious           17  Universal  $1,236.00   2017
Minions                           19  Universal  $1,159.40   2015

In [56]:
# parallel ANDed boolean indexing
released_by_universal = movies["Studio"] == "Universal"
released_in_2015 = movies["Year"] == 2015
movies[released_by_universal & released_in_2015]

                        Rank     Studio       Gross  Year
Title
Jurassic World             6  Universal  $1,671.70   2015
Furious 7                  8  Universal  $1,516.00   2015
Minions                   19  Universal  $1,159.40   2015
Fifty Shades of Grey     165  Universal    $571.00   2015
Pitch Perfect 2          504  Universal    $287.50   2015
Ted 2                    702  Universal    $216.70   2015
Everest                  766  Universal    $203.40   2015
Straight Outta Compton   776  Universal    $201.60   2015

In [52]:
# parallel ORed boolean indexing
released_by_universal = movies["Studio"] == "Universal"
released_in_2015 = movies["Year"] == 2015
movies[released_by_universal | released_in_2015]

                                Rank       Studio       Gross  Year
Title
Star Wars: The Force Awakens       4  Buena Vista  $2,068.20   2015
Jurassic World                     6    Universal  $1,671.70   2015
Furious 7                          8    Universal  $1,516.00   2015
Avengers: Age of Ultron            9  Buena Vista  $1,405.40   2015
Jurassic World: Fallen Kingdom    13    Universal  $1,309.50   2018
...                              ...          ...         ...   ...
The Break-Up                     763    Universal    $205.00   2006
Everest                          766    Universal    $203.40   2015
Patch Adams                      772    Universal    $202.30   1998
Kindergarten Cop                 775    Universal    $202.00   1990
Straight Outta Compton           776    Universal    $201.60   2015

[140 rows x 4 columns]

In [53]:
before_1975 = movies["Year"] < 1975
movies[before_1975]

                    Rank           Studio     Gross  Year
Title
The Exorcist         252  Warner Brothers  $441.30   1973
Gone with the Wind   288              MGM  $402.40   1939
Bambi                540              RKO  $267.40   1942
The Godfather        604        Paramount  $245.10   1972
101 Dalmatians       708      Buena Vista  $215.90   1961
The Jungle Book      755      Buena Vista  $205.80   1967

In [55]:
# can use .between for int dtype columns
# Other methods: https://pandas.pydata.org/docs/reference/series.html#computations-descriptive-stats
mid_80s = movies["Year"].between(1983, 1986)
movies[mid_80s]

                                      Rank     Studio     Gross  Year
Title
Return of the Jedi                     222        Fox  $475.10   1983
Back to the Future                     311  Universal  $381.10   1985
Top Gun                                357  Paramount  $356.80   1986
Indiana Jones and the Temple of Doom   403  Paramount  $333.10   1984
Crocodile Dundee                       413  Paramount  $328.20   1986
Beverly Hills Cop                      432  Paramount  $316.40   1984
Rocky IV                               467        MGM  $300.50   1985
Rambo: First Blood Part II             469    TriStar  $300.40   1985
Ghostbusters                           485   Columbia  $295.20   1984
Out of Africa                          662  Universal  $227.50   1985

In [67]:
print(type(movies['Studio']))
print(type(movies['Studio'].str))

<class 'pandas.core.series.Series'>
<class 'pandas.core.strings.accessor.StringMethods'>

In [63]:
has_dark_in_title = movies.index.str.lower().str.contains("dark")
has_para_in_studio = movies['Studio'].str.lower().str.contains('para')
movies[has_dark_in_title & has_para_in_studio]

                                Rank     Studio       Gross  Year
Title
Transformers: Dark of the Moon    23  Paramount  $1,123.80   2011
Star Trek Into Darkness          232  Paramount    $467.40   2013

### 1.3.5 Grouping Data

In [79]:
movies["Gross"].str.replace(
    "$", "", regex = False
).str.replace(",", "", regex = False).astype(float).case_when(caselist=[
                                                  (lambda x: x>=3000, "HIT"),
                                                  (lambda x: (x<3000) & (x>=2000), "HIT"),
                                                  (lambda x: x<2000, "FLOP")
                                                  ]
                                                )

Title
Avengers: Endgame                HIT
Avatar                           HIT
Titanic                          HIT
Star Wars: The Force Awakens     HIT
Avengers: Infinity War           HIT
                                ...
Yogi Bear                       FLOP
Garfield: The Movie             FLOP
Cats & Dogs                     FLOP
The Hunt for Red October        FLOP
Valkyrie                        FLOP
Name: Gross, Length: 782, dtype: object

In [80]:
(
    movies["Gross"]
    .str.replace("$", "", regex = False)
    .str.replace(",", "", regex = False)
    .astype(float)
)

Title
Avengers: Endgame               2796.3
Avatar                          2789.7
Titanic                         2187.5
Star Wars: The Force Awakens    2068.2
Avengers: Infinity War          2048.4
                                 ...
Yogi Bear                        201.6
Garfield: The Movie              200.8
Cats & Dogs                      200.7
The Hunt for Red October         200.5
Valkyrie                         200.3
Name: Gross, Length: 782, dtype: float64

In [82]:
movies["Gross"] = (
    movies["Gross"]
    .str.replace("$", "", regex = False)
    .str.replace(",", "", regex = False)
    .astype(float)
)

In [83]:
movies["Gross"].mean()

np.float64(439.0308184143222)

In [84]:
studios = movies.groupby("Studio")

In [97]:
studios.all().index

Index(['Artisan', 'Buena Vista', 'CL', 'China Film Corporation', 'Columbia',
       'Dimension', 'Dreamworks', 'FR', 'FUN', 'Focus', 'Fox', 'GrtIndia',
       'HC', 'IFC', 'Lions', 'Lionsgate', 'MGM', 'Magn.', 'Miramax',
       'New Line', 'Newmarket', 'Orion', 'Paramount', 'Pathe', 'Polygram',
       'RKO', 'Rela.', 'SonR', 'Sony', 'TriStar', 'USA', 'UTV', 'Universal',
       'Vestron', 'WGUSA', 'Warner Brothers', 'Weinstein'],
      dtype='object', name='Studio')

In [88]:
studios["Gross"].sum().head()

Studio
Artisan                     248.6
Buena Vista               73585.0
CL                          228.1
China Film Corporation      699.8
Columbia                   1276.6
Name: Gross, dtype: float64

In [89]:
studios["Gross"].count().sort_values(ascending = False).head()

Studio
Warner Brothers    132
Buena Vista        125
Fox                117
Universal          109
Sony                86
Name: Gross, dtype: int64

In [ ]:
studios["Gross"].sum().head()

Studio
Artisan                     248.6
Buena Vista               73585.0
CL                          228.1
China Film Corporation      699.8
Columbia                   1276.6
Name: Gross, dtype: float64

In [90]:
studios["Gross"].sum().sort_values(ascending = False).head()

Studio
Buena Vista        73585.0
Warner Brothers    58643.8
Fox                50420.8
Universal          44302.3
Sony               32822.5
Name: Gross, dtype: float64

## 1.4 Summary