## 4.1 Overview of a DataFrame

In [2]:
import pandas as pd
import numpy as np

### 4.1.1 Creating DataFrame from Dictionary

In [3]:
city_data = {
    "City": ["New York City", "Paris", "Barcelona", "Rome"],
    "Country": ["United States", "France", "Spain", "Italy"],
    "Population": pd.Series([8600000, 2141000, 5515000, 2873000])
}

cities = pd.DataFrame(city_data)
cities

            City        Country  Population
0  New York City  United States     8600000
1          Paris         France     2141000
2      Barcelona          Spain     5515000
3           Rome          Italy     2873000

In [4]:
# The two lines below are equivalent
cities.transpose()
cities.T

                        0        1          2        3
City        New York City    Paris  Barcelona     Rome
Country     United States   France      Spain    Italy
Population        8600000  2141000    5515000  2873000

In [7]:
cities.T.rename(columns=cities.T.iloc[0])

            New York City    Paris  Barcelona     Rome
City        New York City    Paris  Barcelona     Rome
Country     United States   France      Spain    Italy
Population        8600000  2141000    5515000  2873000

### 4.1.2 Creating a DataFrame from a NumPy ndarray

In [8]:
? np.random.randint

In [9]:
random_data = np.random.randint(1, 101, [3, 5])
random_data

array([[96, 99, 79, 73,  6],
       [19,  8, 39, 49, 77],
       [72, 87, 59,  1, 62]])

In [11]:
type(random_data)

numpy.ndarray

In [12]:
## index and columns would be series
df = pd.DataFrame(data = random_data)
df.head()

    0   1   2   3   4
0  96  99  79  73   6
1  19   8  39  49  77
2  72  87  59   1  62

In [15]:
print(type(df.index))
print(type(df.columns))

<class 'pandas.core.indexes.range.RangeIndex'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [16]:
row_labels = ["Morning", "Afternoon", "Evening"]
temperatures = pd.DataFrame(
    data = random_data, index = row_labels
)
temperatures

            0   1   2   3   4
Morning    96  99  79  73   6
Afternoon  19   8  39  49  77
Evening    72  87  59   1  62

In [17]:
row_labels = ["Morning", "Afternoon", "Evening"]
column_labels = (
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday"
)

pd.DataFrame(
    data = random_data,
    index = row_labels,
    columns = column_labels,
)

           Monday  Tuesday  Wednesday  Thursday  Friday
Morning        96       99         79        73       6
Afternoon      19        8         39        49      77
Evening        72       87         59         1      62

In [20]:
row_labels = np.arange(1,8,1) + "00/00/00"
[r.strftime('%A') for r in row_labels]

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('int64'), dtype('<U8')) -> None

In [21]:
row_labels = ["Morning", "Afternoon", "Morning"]
column_lables = [
    "Monday",
    "Tuesday",
    "Wednesday",
    "Tuesday",
    "Friday"
]

pd.DataFrame(
    data = random_data,
    index = row_labels,
    columns = column_labels,
)

           Monday  Tuesday  Wednesday  Thursday  Friday
Morning        96       99         79        73       6
Afternoon      19        8         39        49      77
Morning        72       87         59         1      62

## 4.2 Similarities between Series and DataFrames

### 4.2.1 Importing a DataFrame with the read_csv Function

In [22]:
pd.read_csv("nba.csv")

               Name                 Team Position  Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG   9/26/96   1445697
1    Christian Wood      Detroit Pistons       PF   9/27/95   1645357
2     PJ Washington    Charlotte Hornets       PF   8/23/98   3831840
3      Derrick Rose      Detroit Pistons       PG   10/4/88   7317074
4     Marial Shayok   Philadelphia 76ers        G   7/26/95     79568
..              ...                  ...      ...       ...       ...
445   Austin Rivers      Houston Rockets       PG    8/1/92   2174310
446     Harry Giles     Sacramento Kings       PF   4/22/98   2578800
447     Robin Lopez      Milwaukee Bucks        C    4/1/88   4767000
448   Collin Sexton  Cleveland Cavaliers       PG    1/4/99   4764960
449     Ricky Rubio         Phoenix Suns       PG  10/21/90  16200000

[450 rows x 5 columns]

In [23]:
pd.read_csv("nba.csv", parse_dates = ["Birthday"])

/tmp/ipython-input-3048234929.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.read_csv("nba.csv", parse_dates = ["Birthday"])

               Name                 Team Position   Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG 1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26     79568
..              ...                  ...      ...        ...       ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 5 columns]

In [24]:
nba = pd.read_csv("nba.csv", parse_dates = ["Birthday"])

/tmp/ipython-input-2125825459.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nba = pd.read_csv("nba.csv", parse_dates = ["Birthday"])

### 4.2.2 Shared and Exclusive Attributes between Series and DataFrames

In [25]:
pd.Series([1, 2, 3]).dtype

dtype('int64')

In [26]:
nba.dtypes

Name                object
Team                object
Position            object
Birthday    datetime64[ns]
Salary               int64
dtype: object

In [27]:
nba.dtypes.value_counts()

object            3
datetime64[ns]    1
int64             1
Name: count, dtype: int64

In [28]:
nba.index

RangeIndex(start=0, stop=450, step=1)

In [29]:
nba.columns

Index(['Name', 'Team', 'Position', 'Birthday', 'Salary'], dtype='object')

In [30]:
nba.ndim

2

In [31]:
nba.shape

(450, 5)

In [32]:
nba.size

2250

In [35]:
nba.head()

             Name                Team Position   Birthday   Salary
0    Shake Milton  Philadelphia 76ers       SG 1996-09-26  1445697
1  Christian Wood     Detroit Pistons       PF 1995-09-27  1645357
2   PJ Washington   Charlotte Hornets       PF 1998-08-23  3831840
3    Derrick Rose     Detroit Pistons       PG 1988-10-04  7317074
4   Marial Shayok  Philadelphia 76ers        G 1995-07-26    79568

In [37]:
nba.count(axis=1)

0      5
1      5
2      5
3      5
4      5
      ..
445    5
446    5
447    5
448    5
449    5
Length: 450, dtype: int64

In [39]:
type(nba.count())

pandas.core.series.Series

In [41]:
type(nba.max())

pandas.core.series.Series

In [38]:
nba.count().sum()

np.int64(2250)

In [42]:
data = {
    "A": [1, np.nan],
    "B": [2, 3]
}

df = pd.DataFrame(data)
df

     A  B
0  1.0  2
1  NaN  3

In [43]:
df.size

4

In [45]:
df.count() ## non null

A    1
B    2
dtype: int64

In [ ]:
df.count().sum()

3

### 4.2.3 Shared Methods between Series and DataFrames

In [ ]:
nba.head(2)

             Name                Team Position   Birthday   Salary
0    Shake Milton  Philadelphia 76ers       SG 1996-09-26  1445697
1  Christian Wood     Detroit Pistons       PF 1995-09-27  1645357

In [ ]:
nba.tail(n = 3)

              Name                 Team Position   Birthday    Salary
447    Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448  Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449    Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

In [ ]:
nba.tail()

              Name                 Team Position   Birthday    Salary
445  Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446    Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447    Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448  Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449    Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

In [49]:
type(nba.iloc[:,0])

pandas.core.series.Series

In [48]:
type(nba.iloc[0])

pandas.core.series.Series

In [46]:
nba.iloc[0].sample(3)

Position              SG
Salary           1445697
Name        Shake Milton
Name: 0, dtype: object

In [ ]:
nba.sample(3)

                 Name                Team Position   Birthday   Salary
226     Davis Bertans  Washington Wizards       PF 1992-11-12  7000000
119  DeMarcus Cousins  Los Angeles Lakers        C 1990-08-13  3500000
249   Markieff Morris     Detroit Pistons       PF 1989-09-02  3200000

In [51]:
nba.nunique()

Name        450
Team         30
Position      9
Birthday    430
Salary      269
dtype: int64

In [ ]:
nba.max()

Name             Zylan Cheatham
Team         Washington Wizards
Position                     SG
Birthday    2000-12-23 00:00:00
Salary                 40231758
dtype: object

In [ ]:
nba.min()

Name               Aaron Gordon
Team              Atlanta Hawks
Position                      C
Birthday    1977-01-26 00:00:00
Salary                    79568
dtype: object

In [53]:
nba.nlargest(n = 4, columns = "Salary")

                  Name                   Team Position   Birthday    Salary
205      Stephen Curry  Golden State Warriors       PG 1988-03-14  40231758
38          Chris Paul  Oklahoma City Thunder       PG 1985-05-06  38506482
219  Russell Westbrook        Houston Rockets       PG 1988-11-12  38506482
251          John Wall     Washington Wizards       PG 1990-09-06  38199000

In [54]:
nba.nsmallest(n = 3, columns = ["Birthday"])

              Name             Team Position   Birthday   Salary
98    Vince Carter    Atlanta Hawks       PF 1977-01-26  2564753
196  Udonis Haslem       Miami Heat        C 1980-06-09  2564753
262    Kyle Korver  Milwaukee Bucks       PF 1981-03-17  6004753

In [56]:
? nba.sum

In [57]:
nba.sum(numeric_only = True)

Salary    3444112694
dtype: int64

In [58]:
nba.mean(numeric_only = True)

Salary    7.653584e+06
dtype: float64

In [59]:
nba.median(numeric_only = True)

Salary    3303074.5
dtype: float64

In [60]:
nba.mode(numeric_only = True)

   Salary
0   79568

In [61]:
nba.std(numeric_only = True)

Salary    9.288810e+06
dtype: float64

## 4.3 Sorting a DataFrame

### 4.3.1 Sorting by Single Column

In [62]:
# The two lines below are equivalent
nba.sort_values("Name")
nba.sort_values(by = "Name")

                  Name                   Team Position   Birthday    Salary
52        Aaron Gordon          Orlando Magic       PF 1995-09-16  19863636
101      Aaron Holiday         Indiana Pacers       PG 1996-09-30   2239200
437        Abdel Nader  Oklahoma City Thunder       SF 1993-09-25   1618520
81         Adam Mokoka          Chicago Bulls        G 1998-07-18     79568
399  Admiral Schofield     Washington Wizards       SF 1997-03-30   1000000
..                 ...                    ...      ...        ...       ...
159        Zach LaVine          Chicago Bulls       PG 1995-03-10  19500000
302       Zach Norvell     Los Angeles Lakers       SG 1997-12-09     79568
312       Zhaire Smith     Philadelphia 76ers       SG 1999-06-04   3058800
137    Zion Williamson   New Orleans Pelicans        F 2000-07-06   9757440
248     Zylan Cheatham   New Orleans Pelicans       SF 1995-11-17     79568

[450 rows x 5 columns]

In [63]:
nba.sort_values("Name", ascending = False).head()

                Name                  Team Position   Birthday    Salary
248   Zylan Cheatham  New Orleans Pelicans       SF 1995-11-17     79568
137  Zion Williamson  New Orleans Pelicans        F 2000-07-06   9757440
312     Zhaire Smith    Philadelphia 76ers       SG 1999-06-04   3058800
302     Zach Norvell    Los Angeles Lakers       SG 1997-12-09     79568
159      Zach LaVine         Chicago Bulls       PG 1995-03-10  19500000

In [64]:
nba.sort_values("Birthday", ascending = False).head()

                    Name                  Team Position   Birthday   Salary
136      Sekou Doumbouya       Detroit Pistons       SF 2000-12-23  3285120
432  Talen Horton-Tucker    Los Angeles Lakers       GF 2000-11-25   898310
137      Zion Williamson  New Orleans Pelicans        F 2000-07-06  9757440
313           RJ Barrett       New York Knicks       SG 2000-06-14  7839960
392         Jalen Lecque          Phoenix Suns        G 2000-06-13   898310

### 4.3.2 Sorting by Multiple Columns

In [ ]:
nba.sort_values(by = ["Team", "Name"])

                Name                Team Position   Birthday    Salary
359         Alex Len       Atlanta Hawks        C 1993-06-16   4160000
167     Allen Crabbe       Atlanta Hawks       SG 1992-04-09  18500000
276  Brandon Goodwin       Atlanta Hawks       PG 1995-10-02     79568
438   Bruno Fernando       Atlanta Hawks        C 1998-08-15   1400000
194      Cam Reddish       Atlanta Hawks       SF 1999-09-01   4245720
..               ...                 ...      ...        ...       ...
418     Jordan McRae  Washington Wizards       PG 1991-03-28   1645357
273  Justin Robinson  Washington Wizards       PG 1997-10-12    898310
428    Moritz Wagner  Washington Wizards        C 1997-04-26   2063520
21     Rui Hachimura  Washington Wizards       PF 1998-02-08   4469160
36     Thomas Bryant  Washington Wizards        C 1997-07-31   8000000

[450 rows x 5 columns]

In [ ]:
nba.sort_values(["Team", "Name"], ascending = False)

                Name                Team Position   Birthday    Salary
36     Thomas Bryant  Washington Wizards        C 1997-07-31   8000000
21     Rui Hachimura  Washington Wizards       PF 1998-02-08   4469160
428    Moritz Wagner  Washington Wizards        C 1997-04-26   2063520
273  Justin Robinson  Washington Wizards       PG 1997-10-12    898310
418     Jordan McRae  Washington Wizards       PG 1991-03-28   1645357
..               ...                 ...      ...        ...       ...
194      Cam Reddish       Atlanta Hawks       SF 1999-09-01   4245720
438   Bruno Fernando       Atlanta Hawks        C 1998-08-15   1400000
276  Brandon Goodwin       Atlanta Hawks       PG 1995-10-02     79568
167     Allen Crabbe       Atlanta Hawks       SG 1992-04-09  18500000
359         Alex Len       Atlanta Hawks        C 1993-06-16   4160000

[450 rows x 5 columns]

In [65]:
nba.sort_values(
    by = ["Team", "Salary"], ascending = [True, False]
)

                  Name                Team Position   Birthday    Salary
111   Chandler Parsons       Atlanta Hawks       SF 1988-10-25  25102512
28         Evan Turner       Atlanta Hawks       PG 1988-10-27  18606556
167       Allen Crabbe       Atlanta Hawks       SG 1992-04-09  18500000
213    De'Andre Hunter       Atlanta Hawks       SF 1997-12-02   7068360
339      Jabari Parker       Atlanta Hawks       PF 1995-03-15   6500000
..                 ...                 ...      ...        ...       ...
80         Isaac Bonga  Washington Wizards       PG 1999-11-08   1416852
399  Admiral Schofield  Washington Wizards       SF 1997-03-30   1000000
273    Justin Robinson  Washington Wizards       PG 1997-10-12    898310
283   Garrison Mathews  Washington Wizards       SG 1996-10-24     79568
353      Chris Chiozza  Washington Wizards       PG 1995-11-21     79568

[450 rows x 5 columns]

In [66]:
nba = nba.sort_values(
    by = ["Team", "Salary"],
    ascending = [True, False]
)

## 4.4 Sorting by Index

In [67]:
nba.head()

                 Name           Team Position   Birthday    Salary
111  Chandler Parsons  Atlanta Hawks       SF 1988-10-25  25102512
28        Evan Turner  Atlanta Hawks       PG 1988-10-27  18606556
167      Allen Crabbe  Atlanta Hawks       SG 1992-04-09  18500000
213   De'Andre Hunter  Atlanta Hawks       SF 1997-12-02   7068360
339     Jabari Parker  Atlanta Hawks       PF 1995-03-15   6500000

### 4.4.1 Sorting by Row Index

In [68]:
# The two lines below are equivalent
nba.sort_index().head()
nba.sort_index(ascending = True).head()

             Name                Team Position   Birthday   Salary
0    Shake Milton  Philadelphia 76ers       SG 1996-09-26  1445697
1  Christian Wood     Detroit Pistons       PF 1995-09-27  1645357
2   PJ Washington   Charlotte Hornets       PF 1998-08-23  3831840
3    Derrick Rose     Detroit Pistons       PG 1988-10-04  7317074
4   Marial Shayok  Philadelphia 76ers        G 1995-07-26    79568

In [69]:
nba.sort_index(ascending = False).head()

              Name                 Team Position   Birthday    Salary
449    Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000
448  Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
447    Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
446    Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
445  Austin Rivers      Houston Rockets       PG 1992-08-01   2174310

In [70]:
nba = nba.sort_index()

### 4.4.2 Sorting by Column Index

In [71]:
# The two lines below are equivalent
nba.sort_index(axis = "columns").head()
nba.sort_index(axis = 1).head()

    Birthday            Name Position   Salary                Team
0 1996-09-26    Shake Milton       SG  1445697  Philadelphia 76ers
1 1995-09-27  Christian Wood       PF  1645357     Detroit Pistons
2 1998-08-23   PJ Washington       PF  3831840   Charlotte Hornets
3 1988-10-04    Derrick Rose       PG  7317074     Detroit Pistons
4 1995-07-26   Marial Shayok        G    79568  Philadelphia 76ers

In [72]:
nba.sort_index(axis = "columns", ascending = False).head()

                 Team   Salary Position            Name   Birthday
0  Philadelphia 76ers  1445697       SG    Shake Milton 1996-09-26
1     Detroit Pistons  1645357       PF  Christian Wood 1995-09-27
2   Charlotte Hornets  3831840       PF   PJ Washington 1998-08-23
3     Detroit Pistons  7317074       PG    Derrick Rose 1988-10-04
4  Philadelphia 76ers    79568        G   Marial Shayok 1995-07-26

## 4.5 Setting a New Index

In [ ]:
# The two lines below are equivalent
nba.set_index(keys = "Name")
nba.set_index("Name")

                               Team Position   Birthday    Salary
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [75]:
nba = nba.set_index(keys = "Name")

In [76]:
nba = pd.read_csv(
    "nba.csv", parse_dates = ["Birthday"], index_col = "Name"
)

/tmp/ipython-input-1960128243.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nba = pd.read_csv(

## 4.6 Selecting Columns and Rows from a DataFrame

### 4.6.1 Selecting a Single Column from a DataFrame

In [77]:
nba.Salary

Name
Shake Milton       1445697
Christian Wood     1645357
PJ Washington      3831840
Derrick Rose       7317074
Marial Shayok        79568
                    ...
Austin Rivers      2174310
Harry Giles        2578800
Robin Lopez        4767000
Collin Sexton      4764960
Ricky Rubio       16200000
Name: Salary, Length: 450, dtype: int64

In [78]:
nba["Position"]

Name
Shake Milton      SG
Christian Wood    PF
PJ Washington     PF
Derrick Rose      PG
Marial Shayok      G
                  ..
Austin Rivers     PG
Harry Giles       PF
Robin Lopez        C
Collin Sexton     PG
Ricky Rubio       PG
Name: Position, Length: 450, dtype: object

### 4.6.2 Selecting Multiple Columns from a DataFrame

In [79]:
nba[["Salary", "Birthday"]].head()

                 Salary   Birthday
Name
Shake Milton    1445697 1996-09-26
Christian Wood  1645357 1995-09-27
PJ Washington   3831840 1998-08-23
Derrick Rose    7317074 1988-10-04
Marial Shayok     79568 1995-07-26

In [ ]:
nba[["Birthday", "Salary"]].head()

                 Birthday   Salary
Name
Shake Milton   1996-09-26  1445697
Christian Wood 1995-09-27  1645357
PJ Washington  1998-08-23  3831840
Derrick Rose   1988-10-04  7317074
Marial Shayok  1995-07-26    79568

In [83]:
nba.dtypes

Team                object
Position            object
Birthday    datetime64[ns]
Salary               int64
dtype: object

In [82]:
nba.select_dtypes(include = "object")

                               Team Position
Name
Shake Milton     Philadelphia 76ers       SG
Christian Wood      Detroit Pistons       PF
PJ Washington     Charlotte Hornets       PF
Derrick Rose        Detroit Pistons       PG
Marial Shayok    Philadelphia 76ers        G
...                             ...      ...
Austin Rivers       Houston Rockets       PG
Harry Giles        Sacramento Kings       PF
Robin Lopez         Milwaukee Bucks        C
Collin Sexton   Cleveland Cavaliers       PG
Ricky Rubio            Phoenix Suns       PG

[450 rows x 2 columns]

In [81]:
nba.select_dtypes(exclude = ["object", "int"])

                 Birthday
Name
Shake Milton   1996-09-26
Christian Wood 1995-09-27
PJ Washington  1998-08-23
Derrick Rose   1988-10-04
Marial Shayok  1995-07-26
...                   ...
Austin Rivers  1992-08-01
Harry Giles    1998-04-22
Robin Lopez    1988-04-01
Collin Sexton  1999-01-04
Ricky Rubio    1990-10-21

[450 rows x 1 columns]

## 4.7 Selecting Rows from a DataFrame

### 4.7.1 Extracting Rows by Index Label

In [85]:
nba.head()

                              Team Position   Birthday   Salary
Name
Shake Milton    Philadelphia 76ers       SG 1996-09-26  1445697
Christian Wood     Detroit Pistons       PF 1995-09-27  1645357
PJ Washington    Charlotte Hornets       PF 1998-08-23  3831840
Derrick Rose       Detroit Pistons       PG 1988-10-04  7317074
Marial Shayok   Philadelphia 76ers        G 1995-07-26    79568

In [87]:
nba.loc["LeBron James"]

Team         Los Angeles Lakers
Position                     PF
Birthday    1984-12-30 00:00:00
Salary                 37436858
Name: LeBron James, dtype: object

In [86]:
nba.loc["LeBron James", "Team"]

'Los Angeles Lakers'

In [89]:
nba.loc["Kawhi Leonard", "Paul George"]

KeyError: 'Paul George'

In [88]:
nba.loc[["Kawhi Leonard", "Paul George"]]

                               Team Position   Birthday    Salary
Name
Kawhi Leonard  Los Angeles Clippers       SF 1991-06-29  32742000
Paul George    Los Angeles Clippers       SF 1990-05-02  33005556

In [90]:
nba.loc[["Paul George", "Kawhi Leonard"]]

                               Team Position   Birthday    Salary
Name
Paul George    Los Angeles Clippers       SF 1990-05-02  33005556
Kawhi Leonard  Los Angeles Clippers       SF 1991-06-29  32742000

In [93]:
nba.sort_index().loc["Otto Porter":"Patrick Beverley":2]

                              Team Position   Birthday    Salary
Name
Otto Porter          Chicago Bulls       SF 1993-06-03  27250576
PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
Pat Connaughton    Milwaukee Bucks       SG 1993-01-06   1723050

In [94]:
players = ["Otto Porter", "PJ Dozier", "PJ Washington"]
players[0:2]

['Otto Porter', 'PJ Dozier']

In [128]:
## if index is not sorted two dfs might not be comparable
all(nba.sort_index() == nba.sort_index(ascending=False))

ValueError: Can only compare identically-labeled (both index and columns) DataFrame objects

In [134]:
df = pd.DataFrame({'a':[1, 2], 'b': [3, 4]}, index=[1, 1], columns=['a', 'a'])
df.head()
## A DF CAN HAVE SAME COLS AND SAME INDEX

   a  a
1  1  1
1  2  2

In [136]:
## there is only one way to resolve equal indexes which is the original order
all(df.sort_index(ascending=True) == df.sort_index(ascending=False))

True

In [95]:
nba.sort_index().loc["Zach Collins":]

                                   Team Position   Birthday    Salary
Name
Zach Collins     Portland Trail Blazers        C 1997-11-19   4240200
Zach LaVine               Chicago Bulls       PG 1995-03-10  19500000
Zach Norvell         Los Angeles Lakers       SG 1997-12-09     79568
Zhaire Smith         Philadelphia 76ers       SG 1999-06-04   3058800
Zion Williamson    New Orleans Pelicans        F 2000-07-06   9757440
Zylan Cheatham     New Orleans Pelicans       SF 1995-11-17     79568

In [ ]:
nba.sort_index().loc[:"Al Horford"]

                                    Team Position   Birthday    Salary
Name
Aaron Gordon               Orlando Magic       PF 1995-09-16  19863636
Aaron Holiday             Indiana Pacers       PG 1996-09-30   2239200
Abdel Nader        Oklahoma City Thunder       SF 1993-09-25   1618520
Adam Mokoka                Chicago Bulls        G 1998-07-18     79568
Admiral Schofield     Washington Wizards       SF 1997-03-30   1000000
Al Horford            Philadelphia 76ers        C 1986-06-03  28000000

**NOTE**: I've commented out the code below so that the Notebook can run without raising an error.

In [99]:
"Al Horford" in nba.index

True

In [100]:
"Bugs Bunny" in nba.index

False

In [101]:
nba.loc["Bugs Bunny"]

KeyError: 'Bugs Bunny'

### 4.7.2 Extracting Rows by Index Position

In [105]:
## selecting a row makes columns as the index
all(nba.iloc[300].index == nba.columns)

True

In [114]:
## but if we select multiple rows then index will
## be a subset of original index
all(nba.iloc[300:].index.isin(nba.index))

True

In [115]:
nba.iloc[300]

Team             Denver Nuggets
Position                     PF
Birthday    1999-04-03 00:00:00
Salary                  1416852
Name: Jarred Vanderbilt, dtype: object

In [117]:
nba.iloc[100]

Team             Indiana Pacers
Position                     SG
Birthday    1998-10-02 00:00:00
Salary                    79568
Name: Brian Bowen, dtype: object

In [120]:
nba.iloc[0,1]

'SG'

In [119]:
nba.iloc[[0,1]]

                              Team Position   Birthday   Salary
Name
Shake Milton    Philadelphia 76ers       SG 1996-09-26  1445697
Christian Wood     Detroit Pistons       PF 1995-09-27  1645357

In [127]:
all(nba.iloc[[0,1]] == nba.iloc[[0,1],:])

True

In [121]:
nba.iloc[[0,1], [0]]

                              Team
Name
Shake Milton    Philadelphia 76ers
Christian Wood     Detroit Pistons

In [116]:
nba.iloc[[100, 200, 300, 400]]

                                Team Position   Birthday   Salary
Name
Brian Bowen           Indiana Pacers       SG 1998-10-02    79568
Marco Belinelli    San Antonio Spurs       SF 1986-03-25  5846154
Jarred Vanderbilt     Denver Nuggets       PF 1999-04-03  1416852
Louis King           Detroit Pistons        F 1999-04-06    79568

In [ ]:
nba.iloc[400:404]

                                    Team Position   Birthday    Salary
Name
Louis King               Detroit Pistons        F 1999-04-06     79568
Kostas Antetokounmpo  Los Angeles Lakers       PF 1997-11-20     79568
Rodions Kurucs             Brooklyn Nets       PF 1998-02-05   1699236
Spencer Dinwiddie          Brooklyn Nets       PG 1993-04-06  10605600

In [138]:
nba.iloc[[400, 401, 402, 403]]

                                    Team Position   Birthday    Salary
Name
Louis King               Detroit Pistons        F 1999-04-06     79568
Kostas Antetokounmpo  Los Angeles Lakers       PF 1997-11-20     79568
Rodions Kurucs             Brooklyn Nets       PF 1998-02-05   1699236
Spencer Dinwiddie          Brooklyn Nets       PG 1993-04-06  10605600

In [141]:
# You can't put a slice
# directly inside a list when using iloc
nba.iloc[[400:403]]

SyntaxError: invalid syntax (ipython-input-2099658038.py, line 3)

In [142]:
nba.iloc[:2]

                              Team Position   Birthday   Salary
Name
Shake Milton    Philadelphia 76ers       SG 1996-09-26  1445697
Christian Wood     Detroit Pistons       PF 1995-09-27  1645357

In [ ]:
nba.iloc[447:]

                              Team Position   Birthday    Salary
Name
Robin Lopez        Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio           Phoenix Suns       PG 1990-10-21  16200000

In [143]:
nba.iloc[-10:-6]

                                    Team Position   Birthday   Salary
Name
Jared Dudley          Los Angeles Lakers       PF 1985-07-10  2564753
Max Strus                  Chicago Bulls       SG 1996-03-28    79568
Kevon Looney       Golden State Warriors        C 1996-02-06  4464286
Willy Hernangomez      Charlotte Hornets        C 1994-05-27  1557250

In [144]:
nba.iloc[0:10:2]

                             Team Position   Birthday    Salary
Name
Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
PJ Washington   Charlotte Hornets       PF 1998-08-23   3831840
Marial Shayok  Philadelphia 76ers        G 1995-07-26     79568
Kendrick Nunn          Miami Heat       SG 1995-08-03   1416852
Brook Lopez       Milwaukee Bucks        C 1988-04-01  12093024

In [146]:
nba.iloc[:,0:2]

                               Team Position
Name
Shake Milton     Philadelphia 76ers       SG
Christian Wood      Detroit Pistons       PF
PJ Washington     Charlotte Hornets       PF
Derrick Rose        Detroit Pistons       PG
Marial Shayok    Philadelphia 76ers        G
...                             ...      ...
Austin Rivers       Houston Rockets       PG
Harry Giles        Sacramento Kings       PF
Robin Lopez         Milwaukee Bucks        C
Collin Sexton   Cleveland Cavaliers       PG
Ricky Rubio            Phoenix Suns       PG

[450 rows x 2 columns]

### 4.7.3 Extracting Values from Specific Columns

In [147]:
nba.loc["Giannis Antetokounmpo", "Team"]

'Milwaukee Bucks'

In [149]:
nba.loc["Giannis Antetokounmpo", 1]

KeyError: 1

In [150]:
nba.loc["James Harden", ["Position", "Birthday"]]

Position                     PG
Birthday    1989-08-26 00:00:00
Name: James Harden, dtype: object

In [151]:
nba.loc[
    ["Russell Westbrook", "Anthony Davis"],
    ["Team", "Salary"]
]

                                 Team    Salary
Name
Russell Westbrook     Houston Rockets  38506482
Anthony Davis      Los Angeles Lakers  27093019

In [152]:
nba.loc["Joel Embiid", "Position":"Salary"]

Position                      C
Birthday    1994-03-16 00:00:00
Salary                 27504630
Name: Joel Embiid, dtype: object

In [154]:
nba.loc["Joel Embiid", "Salary":"Position"]

Series([], Name: Joel Embiid, dtype: object)

In [155]:
nba.iloc[57, 3]

np.int64(796806)

In [156]:
nba.iloc[100:104, :3]

                             Team Position   Birthday
Name
Brian Bowen        Indiana Pacers       SG 1998-10-02
Aaron Holiday      Indiana Pacers       PG 1996-09-30
Troy Daniels   Los Angeles Lakers       SG 1991-07-15
Buddy Hield      Sacramento Kings       SG 1992-12-17

In [158]:
nba.at["Austin Rivers", "Birthday"]

Timestamp('1992-08-01 00:00:00')

In [160]:
nba.iat[263, 1]

'PF'

In [161]:
%%timeit
nba.at["Austin Rivers", "Birthday"]

6.03 s  1.24 s per loop (mean  std. dev. of 7 runs, 100000 loops each)

In [162]:
%%timeit
nba.loc["Austin Rivers", "Birthday"]

7.97 s  89.4 ns per loop (mean  std. dev. of 7 runs, 100000 loops each)

In [163]:
%%timeit
nba.iat[263, 1]

9.32 s  78.2 ns per loop (mean  std. dev. of 7 runs, 100000 loops each)

In [164]:
%%timeit
nba.iloc[263, 1]

15.1 s  4.8 s per loop (mean  std. dev. of 7 runs, 100000 loops each)

In [165]:
nba.index

Index(['Shake Milton', 'Christian Wood', 'PJ Washington', 'Derrick Rose',
       'Marial Shayok', 'Draymond Green', 'Kendrick Nunn', 'Cedi Osman',
       'Brook Lopez', 'Torrey Craig',
       ...
       'Jared Dudley', 'Max Strus', 'Kevon Looney', 'Willy Hernangomez',
       'Melvin Frazier', 'Austin Rivers', 'Harry Giles', 'Robin Lopez',
       'Collin Sexton', 'Ricky Rubio'],
      dtype='object', name='Name', length=450)

Index Overhead: If the index is non-integer or unordered, .iat requires mapping that position to a label, whereas .at maps directly to the underlying data structure, which can be faster for specific lookups.

## 4.8 Extracting Values from Series

In [166]:
all(nba.loc[:,"Salary"] == nba["Salary"])

True

In [168]:
nba["Salary"]

Name
Shake Milton       1445697
Christian Wood     1645357
PJ Washington      3831840
Derrick Rose       7317074
Marial Shayok        79568
                    ...
Austin Rivers      2174310
Harry Giles        2578800
Robin Lopez        4767000
Collin Sexton      4764960
Ricky Rubio       16200000
Name: Salary, Length: 450, dtype: int64

In [170]:
## changes in original so its a view
nba["Salary"]["Shake Milton"] = 100

/tmp/ipython-input-2102485495.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba["Salary"]["Shake Milton"] = 100

In [171]:
nba["Salary"]["Shake Milton"]

np.int64(100)

In [172]:
nba["Salary"].loc["Damian Lillard"]

np.int64(29802321)

In [173]:
nba["Salary"].at["Damian Lillard"]

np.int64(29802321)

In [ ]:
nba["Salary"].iloc[234]

2033160

In [ ]:
nba["Salary"].iat[234]

2033160

In [176]:
nba.head()

                              Team Position   Birthday   Salary
Name
Shake Milton    Philadelphia 76ers       SG 1996-09-26      100
Christian Wood     Detroit Pistons       PF 1995-09-27  1645357
PJ Washington    Charlotte Hornets       PF 1998-08-23  3831840
Derrick Rose       Detroit Pistons       PG 1988-10-04  7317074
Marial Shayok   Philadelphia 76ers        G 1995-07-26    79568

In [182]:
nba["Salary"].index = nba[["Team", 'Position']].apply(lambda x: x[0]+x[1], axis=1)

/tmp/ipython-input-924704879.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  nba["Salary"].index = nba[["Team", 'Position']].apply(lambda x: x[0]+x[1], axis=1)

In [186]:
##
nba["Salary"].index

Index(['Philadelphia 76ersSG', 'Detroit PistonsPF', 'Charlotte HornetsPF',
       'Detroit PistonsPG', 'Philadelphia 76ersG', 'Golden State WarriorsPF',
       'Miami HeatSG', 'Cleveland CavaliersSF', 'Milwaukee BucksC',
       'Denver NuggetsSF',
       ...
       'Los Angeles LakersPF', 'Chicago BullsSG', 'Golden State WarriorsC',
       'Charlotte HornetsC', 'Orlando MagicSG', 'Houston RocketsPG',
       'Sacramento KingsPF', 'Milwaukee BucksC', 'Cleveland CavaliersPG',
       'Phoenix SunsPG'],
      dtype='object', length=450)

In [185]:
## doesnt change the index in thge original tho
nba.index

Index(['Shake Milton', 'Christian Wood', 'PJ Washington', 'Derrick Rose',
       'Marial Shayok', 'Draymond Green', 'Kendrick Nunn', 'Cedi Osman',
       'Brook Lopez', 'Torrey Craig',
       ...
       'Jared Dudley', 'Max Strus', 'Kevon Looney', 'Willy Hernangomez',
       'Melvin Frazier', 'Austin Rivers', 'Harry Giles', 'Robin Lopez',
       'Collin Sexton', 'Ricky Rubio'],
      dtype='object', name='Name', length=450)

## 4.9 Renaming Columns or Rows

In [191]:
nba.columns

Index(['Team', 'Position', 'Birthday', 'Salary'], dtype='object')

In [192]:
nba.columns = ["Team", "Position", "Date of Birth", "Pay"]
nba.head(1)

                            Team Position Date of Birth  Pay
Name
Shake Milton  Philadelphia 76ers       SG    1996-09-26  100

In [193]:
nba.rename(columns = { "Date of Birth": "Birthday" })

                               Team Position   Birthday       Pay
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26       100
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [194]:
nba = nba.rename(columns = { "Date of Birth": "Birthday" })

In [195]:
nba.loc["Giannis Antetokounmpo"]

Team            Milwaukee Bucks
Position                     PF
Birthday    1994-12-06 00:00:00
Pay                    25842697
Name: Giannis Antetokounmpo, dtype: object

In [199]:
nba.head()

                              Team Position   Birthday      Pay
Name
Shake Milton    Philadelphia 76ers       SG 1996-09-26      100
Christian Wood     Detroit Pistons       PF 1995-09-27  1645357
PJ Washington    Charlotte Hornets       PF 1998-08-23  3831840
Derrick Rose       Detroit Pistons       PG 1988-10-04  7317074
Marial Shayok   Philadelphia 76ers        G 1995-07-26    79568

In [203]:
nba = nba.rename(
    index = { "Giannis Antetokounmpo": "Greek Freak"}
)

In [202]:
nba.head()

                              Team Position   Birthday      Pay
Name
Shake Milton    Philadelphia 76ers       SG 1996-09-26      100
Christian Wood     Detroit Pistons       PF 1995-09-27  1645357
PJ Washington    Charlotte Hornets       PF 1998-08-23  3831840
Derrick Rose       Detroit Pistons       PG 1988-10-04  7317074
Marial Shayok   Philadelphia 76ers        G 1995-07-26    79568

## 4.10 Resetting an Index

In [204]:
nba.set_index("Team").head()

                   Position   Birthday      Pay
Team
Philadelphia 76ers       SG 1996-09-26      100
Detroit Pistons          PF 1995-09-27  1645357
Charlotte Hornets        PF 1998-08-23  3831840
Detroit Pistons          PG 1988-10-04  7317074
Philadelphia 76ers        G 1995-07-26    79568

In [205]:
nba.reset_index().head()

             Name                Team Position   Birthday      Pay
0    Shake Milton  Philadelphia 76ers       SG 1996-09-26      100
1  Christian Wood     Detroit Pistons       PF 1995-09-27  1645357
2   PJ Washington   Charlotte Hornets       PF 1998-08-23  3831840
3    Derrick Rose     Detroit Pistons       PG 1988-10-04  7317074
4   Marial Shayok  Philadelphia 76ers        G 1995-07-26    79568

In [206]:
## better way to reset index so we dont lose the player name info
nba.reset_index().set_index("Team").head()

                              Name Position   Birthday      Pay
Team
Philadelphia 76ers    Shake Milton       SG 1996-09-26      100
Detroit Pistons     Christian Wood       PF 1995-09-27  1645357
Charlotte Hornets    PJ Washington       PF 1998-08-23  3831840
Detroit Pistons       Derrick Rose       PG 1988-10-04  7317074
Philadelphia 76ers   Marial Shayok        G 1995-07-26    79568

In [ ]:
nba = nba.reset_index().set_index("Team")

## 4.11 Coding Challenge

### 4.11.1 Problems

### 4.11.2 Solutions

In [ ]:
nfl = pd.read_csv("nfl.csv", parse_dates = ["Birthday"])
nfl

                    Name                  Team Position   Birthday   Salary
0           Tremon Smith   Philadelphia Eagles       RB 1996-07-20   570000
1         Shawn Williams    Cincinnati Bengals       SS 1991-05-13  3500000
2            Adam Butler  New England Patriots       DT 1994-04-12   645000
3            Derek Wolfe        Denver Broncos       DE 1990-02-24  8000000
4              Jake Ryan  Jacksonville Jaguars      OLB 1992-02-27  1000000
...                  ...                   ...      ...        ...      ...
1650    Bashaud Breeland    Kansas City Chiefs       CB 1992-01-30   805000
1651         Craig James   Philadelphia Eagles       CB 1996-04-29   570000
1652  Jonotthan Harrison         New York Jets        C 1991-08-25  1500000
1653         Chuma Edoga         New York Jets       OT 1997-05-25   495000
1654        Tajae Sharpe      Tennessee Titans       WR 1994-12-23  2025000

[1655 rows x 5 columns]

In [ ]:
nfl = nfl.set_index("Name")

In [ ]:
nfl = pd.read_csv("nfl.csv", index_col = "Name", parse_dates = ["Birthday"])

In [ ]:
nfl.head()

                                Team Position   Birthday   Salary
Name
Tremon Smith     Philadelphia Eagles       RB 1996-07-20   570000
Shawn Williams    Cincinnati Bengals       SS 1991-05-13  3500000
Adam Butler     New England Patriots       DT 1994-04-12   645000
Derek Wolfe           Denver Broncos       DE 1990-02-24  8000000
Jake Ryan       Jacksonville Jaguars      OLB 1992-02-27  1000000

In [ ]:
# The two lines below are equivalent
nfl.Team.value_counts().head()
nfl["Team"].value_counts().head()

New York Jets          58
Kansas City Chiefs     56
Washington Redskins    56
New Orleans Saints     55
San Francisco 49Ers    55
Name: Team, dtype: int64

In [ ]:
nfl.sort_values("Salary", ascending = False).head()

                                 Team Position   Birthday    Salary
Name
Kirk Cousins        Minnesota Vikings       QB 1988-08-19  27500000
Jameis Winston   Tampa Bay Buccaneers       QB 1994-01-06  20922000
Marcus Mariota       Tennessee Titans       QB 1993-10-30  20922000
Derek Carr            Oakland Raiders       QB 1991-03-28  19900000
Jimmy Garoppolo   San Francisco 49Ers       QB 1991-11-02  17200000

In [ ]:
nfl.sort_values(
    by = ["Team", "Salary"],
    ascending = [True, False]
)

                                   Team Position   Birthday    Salary
Name
Chandler Jones        Arizona Cardinals      OLB 1990-02-27  16500000
Patrick Peterson      Arizona Cardinals       CB 1990-07-11  11000000
Larry Fitzgerald      Arizona Cardinals       WR 1983-08-31  11000000
David Johnson         Arizona Cardinals       RB 1991-12-16   5700000
Justin Pugh           Arizona Cardinals        G 1990-08-15   5000000
...                                 ...      ...        ...       ...
Ross Pierschbacher  Washington Redskins        C 1995-05-05    495000
Kelvin Harmon       Washington Redskins       WR 1996-12-15    495000
Wes Martin          Washington Redskins        G 1996-05-09    495000
Jimmy Moreland      Washington Redskins       CB 1995-08-26    495000
Jeremy Reaves       Washington Redskins       SS 1996-08-29    495000

[1655 rows x 4 columns]

In [ ]:
nfl = nfl.reset_index().set_index(keys = "Team")
nfl.head(3)

                                Name Position   Birthday   Salary
Team
Philadelphia Eagles     Tremon Smith       RB 1996-07-20   570000
Cincinnati Bengals    Shawn Williams       SS 1991-05-13  3500000
New England Patriots     Adam Butler       DT 1994-04-12   645000

In [ ]:
nfl.loc["New York Jets"].head()

                           Name Position   Birthday   Salary
Team
New York Jets   Bronson Kaufusi       DE 1991-07-06   645000
New York Jets    Darryl Roberts       CB 1990-11-26  1000000
New York Jets     Jordan Willis       DE 1995-05-02   754750
New York Jets  Quinnen Williams       DE 1997-12-21   495000
New York Jets        Sam Ficken        K 1992-12-14   495000

In [ ]:
nfl.loc["New York Jets"].sort_values("Birthday").head(1)

                     Name Position   Birthday   Salary
Team
New York Jets  Ryan Kalil        C 1985-03-29  2400000

## 4.12 Summary